body {
    margin: 0;
    height: 100vh;
    background: #121417;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    transition: background 0.5s ease;
}

.container {
    display: flex;
    gap: 100px;
    align-items: center;
}

/* Lamp */
.lamp {
    position: relative;
    cursor: pointer;
}

.lamp-head {
    width: 140px;
    height: 70px;
    background: #eee;
    border-radius: 70px 70px 0 0;
}

.lamp-string {
    width: 2px;
    height: 60px;
    background: #aaa;
    margin: auto;
}

.lamp-knob {
    width: 12px;
    height: 12px;
    background: orange;
    border-radius: 50%;
    margin: auto;
}

.lamp-stand {
    width: 10px;
    height: 120px;
    background: #ddd;
    margin: auto;
}

.lamp-base {
    width: 80px;
    height: 20px;
    background: #ccc;
    border-radius: 10px;
    margin: auto;
}

/* Light Glow */
.light {
    position: absolute;
    top: 70px;
    left: -80px;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, rgba(255, 255, 200, 0.6), transparent 70%);
    opacity: 0;
    filter: blur(20px);
    transition: 0.5s;
}

/* Login Card */
.login-card {
    width: 280px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    text-align: center;

    opacity: 0;
    transform: translateY(50px);
}

.login-card h2 {
    color: white;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: white;
    cursor: pointer;
    font-weight: bold;
}